h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
}

span {
    color: rgb(0, 217, 255);
}

h2  {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}

h3 {
    background-color: rgb(142, 166, 218);
    text-align: right;
    text-decoration: underline;
}